.album-expanded, nav {
  display:none;
}
.photo-expanded {
  display:none;
}
nav {
  overflow-y:hidden;
}
html {
  overflow:hidden;
}

body {
  position:fixed;
  left:0;
  top:0;
  z-index:10;
  height:100%;
}

body:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  display:block;
  background-size:100% 100%;
  width:120%;
  height:120%;
  -webkit-filter: blur(15px);
  filter: blur(15px);
}
