html {
  height:100%;
  width:100%;
}

body {
  margin:0;
  padding:0;
  width:100%;
}
ul,ol {
  margin:0;
  padding:0;
  list-style-type:none;
}

p, h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
a {
  text-decoration:none;
  &:visited {
    color:black;
  }
}
