.album-expanded {
  margin-left:240px;
  margin-right:100px;
  .album-expanded-name {
    text-align:center;
    margin-top:60px;
    margin-left:100px;
    margin-right:100px;
    padding-bottom:10px;
    border-bottom:2px solid $white;
    margin-bottom:100px;
    color:$white;
    h2 {
      font-size:40px;
      text-shadow:5px 5px 10px rgba(0,0,0,.6);

    }
  }
  .photo-row {
    width:100%;
    margin-bottom:60px;
    text-align:center;
  }
  a {
    transition:all .5s ease;
    display:inline-block;
    width:30%;
    margin-right:5%;
    margin-bottom:40px;
    &:hover > div.photo {
      transform:translateY(-20px);
    }
    div.photo {
      background-color:$white;
      transition:all .5s ease;
      box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, .4);
      display:inline-block;
      text-align:center;
      padding:10px;
      border:thin solid $black;
      box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, .4);
      .photo-image img {
        width:200px;
        height:200px;
      }
    }
  }
  a:nth-child(3), a:nth-child(6) {
    margin-right:0;
  }
}


nav {
  position:fixed;
  left:0;
  top:0;
  height:110%;
  background-color:$black;
  width:140px;
  overflow:hidden;
  -webkit-box-shadow: 4px 0px 15px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    4px 0px 15px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         4px 0px 15px 0px rgba(50, 50, 50, 0.75);
  ul {
    margin-top:250px;
    li {


      transition:border-color .5s ease;
      text-align:center;
      &:hover {
      }
    }
  }
  a {
    display:block;
    margin:20px;
    padding:8px;
    border:thin solid $white;
    border-radius:5px;
    color:$white;
    transition: all .5s ease;
    &:visited {
      color:$white;
    }
    &:hover {
      color:red;
      border-color:red

    }

  }
}
