.background-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;

  display: block;
  background-image: url('http://666a658c624a3c03a6b2-25cda059d975d2f318c03e90bcf17c40.r92.cf1.rackcdn.com/unsplash_527bf56961712_1.JPG');
  width: 1200px;
  height: 800px;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}



.header {
  margin-bottom:40px;
  width:100%;
  text-align:center;
  background-color:$black;
  height:100px;
  h1 {
    padding-top:20px;
    font-size:40px;
    color:$white;
  }
}
.albums-container {
  width:80%;
  margin:0 auto;
  .album-row {
    width:100%;
    margin-bottom:40px;
    &:last-child {
      margin-bottom:0px;
    }
    a {

      display:inline-block;
      width:30%;
      margin-right:5%;
      &:hover > div.album {
        transform:translateY(-20px);
      }
      div.album {
        background-color:$white;
        transition:all .5s ease;
        box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, .4);
      }
    }
    a:last-child {
      margin-right:0;
    }

  }
}

.album {
  width:100%;
  margin:0 auto;
  border:thin solid $black;
  display:inline-block;
  text-align:center;
  img {
    max-width:250px;
    padding-top:20px;
  }
  h1 {
    padding-bottom:10px;
    padding-top:10px;
  }
}
