//Google Font imports
@import url(http://fonts.googleapis.com/css?family=Belgrano|Mallanna);
h1, h2, h3, h4, h5, h5 {
  font-family:'Belgrano', serif;
}
body {
  font-family:'Mallanna', sans-serif;
}

p {
  font-family:'Mallanna', sans-serif;
}

//Colors
$white : #FFFFFF;
$black : #000;
$red : red;
$green : green;
